body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
	opacity: 1; /* Start with full opacity */
    transition: opacity 1s ease-in-out;
}

.apology-container {
    text-align: center;
	position: relative; /* Make the container relative to position the child elements */
	z-index: 1; /* Bring the container above the background */
}

.apology-text {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    color: #C0C0C0;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 0; /* Initially set opacity to 0 */
    animation: appear 1s forwards 1s; /* Appear animation with a delay */
}

@keyframes appear {
    to {
        opacity: 1;
    }
}

.buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    opacity: 0; /* Initially set opacity to 0 */
    animation: appear 1s forwards 3s; /* Appear animation with a delay */
}

.ok-button, .not-ok-button {
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #000000;
    color: #FFFFFF;
	border: 2px solid #FFFFFF;
}

.ok-button {
    grid-column: 2;
}

.not-ok-button {
    grid-column: 4;
}

.not-ok-button:hover {
    animation: runAway 2s infinite;
}

@keyframes runAway {
    to {
        transform: translateX(300px);
    }
}
